* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', cursive;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("/src/components/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 100px;
  position:fixed;
  top: 0;
  background: black;
  z-index: 1;
}

.navbarContainer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.navbarName img {
  width: 220px;
  cursor: pointer;
}

.navbarRight {
  display: flex;
  list-style-type: none;
}

.navbarRight li a {
  text-decoration: none;
  color: green;
  cursor: pointer;
  font-weight: 500;
  font-size: 27px;
  padding: 0 15px;
}

.navbarRight .secondary{
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}

.col-6 {
  width: 50%;

}

.col-7 {
  width: 40%;
}

.col-8 {
  height: 650px;
  width: 70%;
  align-items: center;
  padding-left: 118px;
}

.headerDetails {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.headerUl {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.headerUl li {
  width: 50px;
  height: 50px;
  border: 2px solid green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.headerUl img {
  height: 30px;
}

.headerSection h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.headerSection p {
  font-size: 25px;
  font-weight: 100;
  color:green;
  line-height: 40px;
  margin-bottom: 40px;
}

.profileImg img {
  padding: 0 30px;
  margin-top: 150px;
  height: 550px;
  margin-left: 150px;
}

.aboutMe {
  width: 100%;
  background: black;
  padding: 100px 0;
}

.aboutMeTop {
  width: 35%;
  margin: 20px auto;
  text-align: center;
}

.aboutTopHeader {
  font-weight: 300;
  font-size: 50px;
  padding-bottom: 100px;
  color: green;
}

.aboutLogo {
  padding-left: 30px;
}

.aboutLogo img {
  height: 420px;
}

.aboutMeInfo {
  color: white;
  font-size: x-large;
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: 100px;
}

.aboutMeSkills h2{
  color: green;
  font-size: xxx-large;
  font-weight: 300;
  padding-bottom: 15px;
}

.aboutMeSkills {
  color: white;
  font-size: x-large;
  font-weight: 100;
}

.portfolio {
  width: 100%;
  background: rgb(29, 29, 29);
  padding: 100px 0;
}

.portfolioTop {
  width: 35%;
  margin: 20px auto;
  text-align: center;
}

.portfolioTopHeader {
  font-weight: 300;
  font-size: 50px;
  padding-bottom: 20px;
  color: white;
}

.portfolioTopText{
  font-size: x-large;
  font-weight: 100;
  margin-bottom: 100px;
  text-align: center;
  color: green;
}

.project img{
  height: 300px;
  width: 400px;
  border-radius: 20px;
  border: 3px solid green;
}

.passwordGenerator {
  padding: 10px;
  padding-left: 0;
}

.codeQuiz {
  padding: 10px;
}

.dayScheduler {
  padding: 10px;
}

.weatherDashboard {
  padding: 10px;
  padding-left: 0;
}

.noteTaker {
  padding: 10px;
}

.congo {
  padding: 10px;
}

.contactForm {
  width: 100%;
  background: black;
  padding: 100px 0;
}

.contactTop {
  margin: 20px auto;
  text-align: center;
}

.contactTopHeader {
  font-weight: 300;
  font-size: 50px;
  padding-bottom: 20px;
  color: green;
}

.contactTopText{
  font-size: x-large;
  font-weight: 100;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}

.contactSection {
  width: 10%;
}

label {
  color: white;
  font-size: x-large;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid #cccccc;
  border-radius: 3px;
  padding: 5px;
}

button {
  background: green;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 15px;
}